<!doctype html>
<html>
  <head>
    <title>Patchbay</title>
    <link rel="stylesheet" href="/app.css">
  </head>
  <body class="indaba-dark">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Title</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div style="height: 70px;"></div>

    <div class="container">





      <h1>Patchbay</h1>

      <p>A baseline for Indaba styles</p>




      <h2>Form</h2>

      <div class="row">
        <div class="span6">
          <form class="form">

            <div class="control-group">
              <label class="control-label" for="inputTagline">Tagline</label>
              <div class="controls">
                <input type="text" id="inputTagline" name="tagline" ng-model="opportunity.tagline">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputFaqs">FAQs</label>
              <div class="controls">
                <textarea id="inputFaqs" name="faqs" ng-model="opportunity.faqs"></textarea>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <label class="checkbox">
                  requires key to enter
                  <input type="checkbox" ng-model="opportunity.requires_key">
                </label>
              </div>
            </div>

            <br>
            <button class="btn btn-primary">Primary Button</button>

          </form>
        </div>
      </div>



      <h2>Icons</h2>
      <div style="font-size: 32px; line-height: 48px;">
        <i class="icon-time"></i>
      </div>

    </div>

  </body>
</html>
